<h1>Adicione um usuário</h1>
<form action="/users/create" method="POST" class="form">

    <label for="name">Nome</label>
    <input type="text" name="name">

    <label for='name'>Ocupação</label>
    <input type='text' name="occupation" placeholder="Nome">

    <label for="newsletter">Newsletter</label>
    <input type="checkbox" name="newsletter" checked>

    <input type="submit" value="Cadastrar">

</form>